body {
  margin: 0;
  text-align: center;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  /*width: 200px;
  height: 200px;
  border: solid 10px;
  padding: 20px;*/
}

.middle-container {

}

.bottom-container {

}

.pro {
  text-decoration: underline;
}

.container {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: grey;
}

.red {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 200px;
  top: 0
}

.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 100px;
  top: 0;
}

.yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: fixed;
  left: 0;
  top: 0;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 50px;
}
.paula-image{
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius:50%;
}
.first-skill{
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius:50%;
}
.second-skill{
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius:50%;
}
